
__pycache__/
*.pyc
*.pyo
*.pyd


venv/
.env/


.env


deepfake_model.pkl


backend/dataset/


backend/uploads/


*.db


*_report.pdf


frontend/node_modules/


frontend/dist/


.vscode/


.DS_Store
Thumbs.db